/* liveportal styles */

	html ,body{
		background:#000;
		font: "Trebuchet MS", sans-serif;
	margin:0;
	padding:0;
	height:100%;
	}
	
	
	/*This is a div that wraps everything directly in the body tag*/
	#wrapper {
	min-height:100%;
	position:relative;
	}

	/*This is a div for the content of a page*/
	#content{
		width: 100%;
		margin: auto;
		color:#fff;
		background: #111;
		border-radius: 10px;
		border: 1px solid #00536E;
		padding: 10px;
	}
	
	/*This is the div for the footer*/
	#footer{
	height: 250px;
		color:#fff;
		background: #111;
		padding: 10px;
		padding: 10px;
		float: left;
	width: 100%;
	position: absolute;
	bottom: 0;
	left:0;
	}
	
	.footerIcons img{
		display: inline;
	}
	
	footer ul{
	padding: 0px;
	list-style-type:none;
	}
	
	.clear{
		padding-bottom: 270px; /*This value must be the height of the footer +20px*/
	}
	
	.center{
	text-align: center;
	}
	
	.right{
	text-align: right;
	}
	
	.left{
	text-align: left;
	}
	
	.search{
		margin: 8px 10px 0px;
	}
	
	form{
	display: inline;
	}
	
	
	input{
		color:#000;
	}
	
	select{
	color: #000;
	}

	.unread{
	background:#008CBA !important;
	}
	.read{
	background: #222 !important;
	}
	.messageControls{
		text-align: right;
	}

	.userMenu{
		padding-left: 2px !important;
		padding-right:2px !important;
	}

	.playerLink{
	cursor:pointer;
	border: 1px solid #fff;
	}
	
	#profileInfo{
	margin: auto;
	font-size: 125%;
	}
	
	#profileInfo td{
	/*border:1px solid #fff;*/
	padding: 5px;
	}

	.error{
		color:red;
	}

	#player_wrapper,
	#player1_wrapper,
	#player2_wrapper,
	#player3_wrapper,
	#player4_wrapper,
	#player5_wrapper{
		margin: auto;
		text-align: center;
	}

/* jquery ui style override */
	.modal-title{
		color:#000;
	}

/* bootstrap style override */

.col-xs-6{
text-align: center;
}

.col-xs-1{
text-align: center;
}
.col-xs-2{
text-align: center;
}

	.list-inline, .list-inline > li{
		margin: 10px auto;
		text-align: center;
	}
	
	.badge-dark{
		background-color: #00536E !important;
	}
	.badge-light{
		background-color: #008CBA !important;
	}
	
	.dropdown-menu{
		background-color: #00536E !important;
	}
	
	.jumbotron{
		background: #008CBA;
		text-align: center;
		border-radius: 10px;
		padding: 10px;
	}
	
	.carousel-inner > .item > .player,
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img,
	.carousel-inner > .item > a > .player {
		height: 50%;
		margin: auto;
	}
	.carousel-inner{
		background:#000;
}

.carousel-indicators{
padding: 10px;
}