body{
	background:#000;
}

#wrapper{
	width: 1000px;
	margin: auto;
	color:#fff;
	background: #111;
	border-radius: 10px;
	border: 1px solid #fff;
	min-height: 500px;
	padding: 10px;
}

input{
	color:#000;
}

.list-inline, .list-inline > li{
	margin: auto;
	text-align: center;
}

.footer{
	min-height: 100px;
	background: #111;
	margin-top: 20px;
	text-align: center;
	padding: 10px;
}

.error{
	color:red;
}

.jumbotron{
	color:#000;
    text-align: center;
    font-family:"Impact";
	border-radius: 10px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	height: 50%;
	margin: auto;
}
.carousel-inner{
	background:#fff;
}